<h1 class="page-title">Pagos</h1>

<!-- Lista de pagos-->
<div class="row">
    <div class="col-md-12">
        <section widget class="widget">
            <header>
                <h4>
                    Lista <span class="fw-semi-bold">Pagos</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Fecha</td>
                            <td>Cliente</td>
                            <td>Monto</td>
                            <td>Descripción</td>
                            <td>Referencia</td>
                            <td>Forma de pago</td>
                            <td></td>
                        </tr> 
                    </thead>
                    <tbody>
                    <!-- [hidden]="!contact.cliente"  -->
                        <tr *ngFor="let payment of payments_array">
                            <td>{{payment.fecha}}</td>
                            <td>{{payment.cliente.nombre}}</td>
                            <td>{{payment.monto}}</td>
                            <td>{{payment.descripcion}}</td>
                            <td>{{payment.referencia}}</td>
                            <td>{{payment.forma_pago.forma_pago}}</td>
                            <td>
                                <button (click)="goToEditPayment(payment.id)" type="button" class="btn btn-info" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button (click)="deletePayment(payment.id)" type="button" class="btn btn-danger" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>    
                    </tbody>
                </table>    
            </div>
        </section>
    </div>
</div>

<!-- Editar pagos -->
<div class="row">
  <div class="col-md-12">
    <section widget class="widget">
      <header>
        <h4>
          Registart <span class="fw-semi-bold">Pago</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
      <!-- [ngFormModel]="ingresosForm"  -->
        <form (submit)="editPayment(editData.id)" role="form" class="col-md-offset-2">          
            <div class="row">
                <div class="col-md-10">              
                    <div class="form-group">
                        <label>Fecha de ingreso</label>
                        <div>
                            <input type="datetime-local" class="form-control" [(ngModel)]="editData.fecha">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Cliente</label>
                        <div>
                            <select [(ngModel)]="editData.cliente_id" class="form-control input-lg" >
                                <option *ngFor="let client of clients_array" [value]="client.id" [selected]="client.id==editData.cliente_id || client.id">{{client.nombre}}&nbsp;{{client.identificacion}}</option>
                            </select> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Monto</label>
                        <input [(ngModel)]="editData.monto" [value]="editData.monto" required type="number" step="0.01" class="form-control" id="monto"
                            placeholder="Introduzca el monto">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input [(ngModel)]="editData.descripcion" [value]="editData.descripcion" required type="text" class="form-control" id="descripcion"
                            placeholder="Descripción">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Referencia</label>
                        <input [(ngModel)]="editData.referencia" [value]="editData.referencia" required type="text" class="form-control" id="referencia"
                            placeholder="Introduzca la referencia">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Forma de pago </label>
                        <div>
                            <select [(ngModel)]="editData.forma_pago_id" required name="month" class = "form-control input-lg">
                                <option *ngFor="let forma_p of formas_pago" [value]="forma_p.value" 
                                [selected]="forma_p.value==editData.forma_pago_id || forma_p.value">{{forma_p.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
      </div>
    </section>
  </div>
</div>

<!-- Crear pagos -->
<div class="row">
  <div class="col-md-12">
    <section widget class="widget">
      <header>
        <h4>
          Editar <span class="fw-semi-bold">Pago</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form [ngFormModel]="nuevoIngresoForm" (submit)="newPayment()" role="form" class="col-md-offset-2">          
            <div class="row">
                <div class="col-md-10">              
                    <div class="form-group">
                        <label>Fecha de ingreso</label>
                        <div>
                            <input [ngFormControl]="np_fecha" required type="datetime-local" class="form-control"> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Cliente</label>
                        <div>
                            <select [ngFormControl]="np_cliente_id" required class="form-control input-lg" >
                                <option *ngFor="let client of clients_array" [value]="client.id" [selected]="client.id">{{client.nombre}}&nbsp;{{client.identificacion}}</option>
                            </select> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Monto</label>
                        <input [ngFormControl]="np_monto" required type="number" step="0.01" class="form-control" id="monto"
                            placeholder="Introduzca el monto">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input [ngFormControl]="np_descripcion" required type="text" class="form-control" id="descripcion"
                            placeholder="Descripción">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Referencia</label>
                        <input [ngFormControl]="np_referencia" required type="text" class="form-control" id="referencia"
                            placeholder="Introduzca la referencia">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Forma de pago </label>
                        <div>
                            <select [ngFormControl]="np_forma_pago_id" required class="form-control input-lg">
                                <option *ngFor="let forma_p of formas_pago" [value]="forma_p.value" 
                                [selected]="forma_p.value">{{forma_p.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
      </div>
    </section>
  </div>
</div>