<div class="row">
  <div class="col-md-6">
    <section widget class="widget">
      <header>
        <h6>
          <i class="fa fa-product-hunt"></i>  
          Mostrar <span class="fw-semi-bold">Producto</span>
        </h6>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <table>
            <thead>
            </thead>
            <tbody>
               <tr>
                   <th>Id </th><td>{{model.id}}</td>
               </tr>    
               <tr>
                   <th>Descripcion </th><td>{{model.descripcion_corta}}</td>
               </tr>    
               <tr>
                   <th>Stock </th><td>{{model.stock}}</td>
               </tr>
               <tr>
                   <th>Tipo </th><td>{{model.tipo}}</td>
               </tr>    
            </tbody>    
        </table>
      </div>
    </section>
  </div>
</div>
<a class="btn btn-default" href="#" [routerLink]="['/app/productos']">Regresar a la Lista</a>
<a class="btn btn-warning" href="#" [routerLink]="['edit']">Editar</a>
<a *ngIf="model.id" class="btn btn-danger" (click)="onDeleteAction(model.id)">Eliminar</a>
