<div class="container">
    <h1>Producto Form</h1>
    <form>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" class="form-control">
      </div>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" required>
            <option *ngFor="#t of tipos" [value]="t">{{t}}</option>
          </select>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>