<div class="row">
  <div class="col-md-12">
    <section widget class="widget">
      <header>
        <h4>
          Crear <span class="fw-semi-bold">Producto</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" class="form-control">
      </div>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" required>
            <option *ngFor="let t of tipos" [value]="t">{{t}}</option>
          </select>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
      </div>
    </section>
  </div>
</div>